body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
}




nav{
    display: flex;
    
}



.orange{
    color: rgb(242, 69, 6);
}




.titel{
    color: black;
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    
    line-height: normal;
}




nav > ul{
    display: flex;
    align-items: center;
    
}



nav li{
    list-style: none;
    margin-right: 45px;
}



nav a{
    text-decoration: none;
    color: rgb(10, 10, 10);
}




.button{
    border-radius: 5px;
    background-color:rgb(242, 69, 6); 
    border: 0;
    color: rgb(242, 244, 245);
    font-size: 20px;
    font width: 700;
    padding: 5px 11px;


}