body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
}




nav{
    display: flex;
    justify-content: space-between;
}



.orange{
    color: rgb(242, 69, 6);
}




.titel{
    color: black;
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    
    line-height: normal;
    margin-left: 200px;
}




nav > ul{
    display: flex;
    align-items: center;   
    margin: 0 200px;    
}



nav li{
    list-style: none;
    margin-right: 45px;
}



nav a{
    text-decoration: none;
    color: rgb(10, 10, 10);
}





.button{
    border-radius: 5px;
    background-color:rgb(242, 69, 6); 
    border: 0;
    color: rgb(242, 244, 245);
    font-size: 20px;
    font width: 700;
    padding: 5px 11px;


}




.header{
    background-color: rgb(229, 192, 168);
}



.bannar{
    padding: 30px 30px 30px 150px;
    display: flex;
    justify-content: space-between;
}
.profile{
    height: 400px;
    margin-right: 150px;
    align-items: center;
   background-image: url(./quino-al-JFeOy62yjXk-unsplash.jpg) ;height: 200px; width: 50px; padding-right: 100px;
}
.section{
    text-align: center;
    font-size: 20px;
    background-color: bisque;
    margin-left: 400px;
    margin-right: 400px;
    padding: 0 10px 10px 10px;
}


.information{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}
.icon{
    
}



